.sidebar__title {
  padding: 10px 0 5px 15px;
}

.sidebar__divider {
  height: 1px;
  margin: 1px 0;
  overflow: hidden;
  padding: 0;
  line-height: 0;
  background-color: #e8e8e8;
}

.sidebar__sideMenu {
  padding-top: 60px;
  font-size: 15px;
}

.sidebar__links {
  padding-top: 10px;
  font-size: 14px;
}